* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b3b3b;

}

.navegacao {
    display: flex;
    background-color: #2b2b2b;
    justify-content: space-between;
}

.txtnav {
    font-size: 150%;
    margin: 1%;
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
    margin-right: 15%;

    .nav-login {
        background-color: #414141;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 2px;
        border-radius: 15%;
    }
}

.nav-text {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-titulo {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 140%;

    h1 {
        font-weight: 480;
        padding: 1%;
        margin-left: 25%;
    }
}

.banner {
    position: relative;
}

.banner-img {
    width: 100%;
    display: block;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #2b2b2b, transparent, #3b3b3b);

    pointer-events: none;
}

.titulo-card {
    font-size: 200%;
    font-family: 'open sans', sans-serif;
    color: #cfcfcf;
    font-weight: 700;
    padding: 0.3%;
}

.cards-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    padding: 0.5%;
    background: linear-gradient(to right, #367c2a, transparent, #cb5827, transparent, #ad4a69);
    position: relative;
}

.overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #3b3b3b 0.5%, transparent, #3b3b3b 99.5%);

    pointer-events: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 20%;
    border-radius: 10%;
    margin: 0.5%;

}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 80%;
    border-radius: 3%;
    padding: 0%;
    margin: 0%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.card-titulo {
    font-size: 105%;
    font-family: 'open sans', sans-serif;
    color: #ffffff;
    padding: 0%;
    margin: 0%;
}

.card-artista {
    font-size: 95%;
    font-family: 'open sans', sans-serif;
    color: #ffffff;
    padding: 0%;
    margin: 0%;
}

.apresentacao-content {
    background-color: #474747;
    display: flex;
    justify-content: space-around;
}

.apresentacao-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5%;
    font-family: 'open sans', sans-serif;
    width: 60%;

    h1 {
        font-size: 250%;
        color: #cecece;
    }

    p {
        font-size: large;
    }
}

.apresentacao-image {
    display: flex;
    justify-content: end;
    width: 40%;
}


.apresentacao-img {
    width: 100%;
}