* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b3b3b;

}

.navegacao {
    display: flex;
    background-color: #2b2b2b;
    justify-content: space-between;
}

.txtnav {
    font-size: 150%;
    margin: 1%;
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
    margin-right: 15%;
    .nav-login{
        background-color: #414141;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 2px;
        border-radius: 15%;
    }
}

.nav-text{
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-titulo {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 140%;
    h1{
        font-weight: 480;
        padding: 1%;
        margin-left: 25%;
    }
}

.titulo-card{
    font-size: 200%;
    font-family: 'open sans', sans-serif;
    color: #cfcfcf;
    font-weight: 700;
    padding: 0.3%;
}

.cards-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    padding: 0.5%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 20%;
    border-radius: 10%;
    margin: 0.5%;

}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 80%;
    border-radius: 3%;
    padding: 0%;
    margin: 0%;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.card-titulo {
    font-size: 105%;
    font-family: 'open sans', sans-serif;
    color: #cecece;
    padding: 0%;
    margin: 0%;
}

.card-artista{
    font-size: 95%;
    font-family: 'open sans', sans-serif;
    color: #979797;
    padding: 0%;
    margin: 0%;
}

.apresentacao-content{
    background-color: #474747;
    display: flex;
    justify-content: space-around;
}

.apresentacao-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5%;
    font-family: 'open sans', sans-serif;
    width: 60%;
    h1{ 
        font-size: 250%;
        color: #cecece;
    }
    p{
        font-size: large;
    }
}

.apresentacao-image{
    display: flex;
    justify-content: end;
    width: 40%;
}


.apresentacao-img{
    width: 100%;
}
